header {
    background-color: #fff;
    height: 10vh;
    box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 99999;
  }
  header img {
    width: 60px;
  }
.title {
    
    margin-top: 8px;
    margin-left:50px;
    color:#2d3954;
    
}